@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    padding: 2rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: green;
  }
}

h3 {
  font-family: 'Lilita One', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}